In [58]:
# Dependencies
import requests
import json
import prettytable
import pandas as pd

In [59]:
# Series IDs are for the categories representative of the metrics used by US Bureau of Labor
# JTU000000480000000JOL: Job openings in the state of Texas in all non-farm industries, with companies of all sizes,
# Values shown in thousands

#LAUST480000000000006: Labor Force in state of Texas
#LAUST480000000000005: Employment # in state of Texas
#LAUST480000000000004: Unemployment in # in the state of Texas
#LAUST480000000000003: Unemployment Rate in the state in Texas

In [60]:
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['JTU000000480000000JOL','LAUST480000000000006', 'LAUST480000000000005', 'LAUST480000000000003', 'LAUST480000000000004'],"startyear":"2018", "endyear":"2022"})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)
for series in json_data['Results']['series']:
    x=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        footnotes=""
        for footnote in item['footnotes']:
            if footnote:
                footnotes = footnotes + footnote['text'] + ','
        if 'M01' <= period <= 'M12':
            x.add_row([seriesId,year,period,value,footnotes[0:-1]])
    output = open(seriesId + '.txt','w')
    output.write (x.get_string())
    output.close()
json_data

{'status': 'REQUEST_SUCCEEDED',
 'responseTime': 343,
 'message': [],
 'Results': {'series': [{'seriesID': 'JTU000000480000000JOL',
    'data': [{'year': '2022',
      'period': 'M12',
      'periodName': 'December',
      'latest': 'true',
      'value': '855',
      'footnotes': [{'code': 'P', 'text': 'preliminary'}]},
     {'year': '2022',
      'period': 'M11',
      'periodName': 'November',
      'value': '811',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M10',
      'periodName': 'October',
      'value': '962',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M09',
      'periodName': 'September',
      'value': '1028',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M08',
      'periodName': 'August',
      'value': '971',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M07',
      'periodName': 'July',
      'value': '1115',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M06',
      'periodName': 'June',
      'value': '1038',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M05',
      'periodName': 'May',
      'value': '967',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M04',
      'periodName': 'April',
      'value': '1104',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M03',
      'periodName': 'March',
      'value': '999',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M02',
      'periodName': 'February',
      'value': '879',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M01',
      'periodName': 'January',
      'value': '896',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M12',
      'periodName': 'December',
      'value': '818',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M11',
      'periodName': 'November',
      'value': '868',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M10',
      'periodName': 'October',
      'value': '965',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M09',
      'periodName': 'September',
      'value': '867',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M08',
      'periodName': 'August',
      'value': '970',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M07',
      'periodName': 'July',
      'value': '1000',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M06',
      'periodName': 'June',
      'value': '896',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M05',
      'periodName': 'May',
      'value': '814',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M04',
      'periodName': 'April',
      'value': '845',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M03',
      'periodName': 'March',
      'value': '718',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M02',
      'periodName': 'February',
      'value': '609',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M01',
      'periodName': 'January',
      'value': '563',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M12',
      'periodName': 'December',
      'value': '466',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M11',
      'periodName': 'November',
      'value': '515',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M10',
      'periodName': 'October',
      'value': '597',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M09',
      'periodName': 'September',
      'value': '612',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M08',
      'periodName': 'August',
      'value': '523',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M07',
      'periodName': 'July',
      'value': '493',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M06',
      'periodName': 'June',
      'value': '438',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M05',
      'periodName': 'May',
      'value': '381',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M04',
      'periodName': 'April',
      'value': '348',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M03',
      'periodName': 'March',
      'value': '404',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M02',
      'periodName': 'February',
      'value': '521',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M01',
      'periodName': 'January',
      'value': '519',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M12',
      'periodName': 'December',
      'value': '429',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M11',
      'periodName': 'November',
      'value': '510',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M10',
      'periodName': 'October',
      'value': '562',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M09',
      'periodName': 'September',
      'value': '563',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M08',
      'periodName': 'August',
      'value': '619',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M07',
      'periodName': 'July',
      'value': '639',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M06',
      'periodName': 'June',
      'value': '566',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M05',
      'periodName': 'May',
      'value': '584',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M04',
      'periodName': 'April',
      'value': '665',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M03',
      'periodName': 'March',
      'value': '583',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M02',
      'periodName': 'February',
      'value': '581',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M01',
      'periodName': 'January',
      'value': '604',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M12',
      'periodName': 'December',
      'value': '541',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M11',
      'periodName': 'November',
      'value': '583',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M10',
      'periodName': 'October',
      'value': '599',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M09',
      'periodName': 'September',
      'value': '563',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M08',
      'periodName': 'August',
      'value': '540',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M07',
      'periodName': 'July',
      'value': '649',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M06',
      'periodName': 'June',
      'value': '568',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M05',
      'periodName': 'May',
      'value': '488',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M04',
      'periodName': 'April',
      'value': '520',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M03',
      'periodName': 'March',
      'value': '484',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M02',
      'periodName': 'February',
      'value': '470',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M01',
      'periodName': 'January',
      'value': '482',
      'footnotes': [{}]}]},
   {'seriesID': 'LAUST480000000000006',
    'data': [{'year': '2022',
      'period': 'M12',
      'periodName': 'December',
      'value': '14773939',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2022',
      'period': 'M11',
      'periodName': 'November',
      'value': '14765864',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2022',
      'period': 'M10',
      'periodName': 'October',
      'value': '14731841',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2022',
      'period': 'M09',
      'periodName': 'September',
      'value': '14685013',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2022',
      'period': 'M08',
      'periodName': 'August',
      'value': '14674216',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2022',
      'period': 'M07',
      'periodName': 'July',
      'value': '14678367',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2022',
      'period': 'M06',
      'periodName': 'June',
      'value': '14673500',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2022',
      'period': 'M05',
      'periodName': 'May',
      'value': '14616414',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2022',
      'period': 'M04',
      'periodName': 'April',
      'value': '14592934',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2022',
      'period': 'M03',
      'periodName': 'March',
      'value': '14633464',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2022',
      'period': 'M02',
      'periodName': 'February',
      'value': '14613813',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2022',
      'period': 'M01',
      'periodName': 'January',
      'value': '14511328',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2021',
      'period': 'M12',
      'periodName': 'December',
      'value': '14488125',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2021',
      'period': 'M11',
      'periodName': 'November',
      'value': '14517223',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2021',
      'period': 'M10',
      'periodName': 'October',
      'value': '14428177',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2021',
      'period': 'M09',
      'periodName': 'September',
      'value': '14359112',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2021',
      'period': 'M08',
      'periodName': 'August',
      'value': '14331255',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2021',
      'period': 'M07',
      'periodName': 'July',
      'value': '14361689',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2021',
      'period': 'M06',
      'periodName': 'June',
      'value': '14317810',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2021',
      'period': 'M05',
      'periodName': 'May',
      'value': '14207615',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2021',
      'period': 'M04',
      'periodName': 'April',
      'value': '14219519',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2021',
      'period': 'M03',
      'periodName': 'March',
      'value': '14216389',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2021',
      'period': 'M02',
      'periodName': 'February',
      'value': '14177756',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2021',
      'period': 'M01',
      'periodName': 'January',
      'value': '14107667',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2020',
      'period': 'M12',
      'periodName': 'December',
      'value': '14162338',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2020',
      'period': 'M11',
      'periodName': 'November',
      'value': '14170810',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2020',
      'period': 'M10',
      'periodName': 'October',
      'value': '14130935',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2020',
      'period': 'M09',
      'periodName': 'September',
      'value': '14045206',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2020',
      'period': 'M08',
      'periodName': 'August',
      'value': '14002100',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2020',
      'period': 'M07',
      'periodName': 'July',
      'value': '13951512',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2020',
      'period': 'M06',
      'periodName': 'June',
      'value': '13891833',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2020',
      'period': 'M05',
      'periodName': 'May',
      'value': '13678032',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2020',
      'period': 'M04',
      'periodName': 'April',
      'value': '13310059',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2020',
      'period': 'M03',
      'periodName': 'March',
      'value': '13904739',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2020',
      'period': 'M02',
      'periodName': 'February',
      'value': '14159753',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2020',
      'period': 'M01',
      'periodName': 'January',
      'value': '14056658',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2019',
      'period': 'M12',
      'periodName': 'December',
      'value': '14059524',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2019',
      'period': 'M11',
      'periodName': 'November',
      'value': '14088019',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2019',
      'period': 'M10',
      'periodName': 'October',
      'value': '14038822',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2019',
      'period': 'M09',
      'periodName': 'September',
      'value': '13980363',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2019',
      'period': 'M08',
      'periodName': 'August',
      'value': '13931556',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2019',
      'period': 'M07',
      'periodName': 'July',
      'value': '13965128',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2019',
      'period': 'M06',
      'periodName': 'June',
      'value': '13919461',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2019',
      'period': 'M05',
      'periodName': 'May',
      'value': '13795993',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2019',
      'period': 'M04',
      'periodName': 'April',
      'value': '13789246',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2019',
      'period': 'M03',
      'periodName': 'March',
      'value': '13835343',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2019',
      'period': 'M02',
      'periodName': 'February',
      'value': '13870130',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2019',
      'period': 'M01',
      'periodName': 'January',
      'value': '13787780',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2018',
      'period': 'M12',
      'periodName': 'December',
      'value': '13809499',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2018',
      'period': 'M11',
      'periodName': 'November',
      'value': '13807669',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2018',
      'period': 'M10',
      'periodName': 'October',
      'value': '13757492',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2018',
      'period': 'M09',
      'periodName': 'September',
      'value': '13695181',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2018',
      'period': 'M08',
      'periodName': 'August',
      'value': '13668644',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2018',
      'period': 'M07',
      'periodName': 'July',
      'value': '13774390',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2018',
      'period': 'M06',
      'periodName': 'June',
      'value': '13762598',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2018',
      'period': 'M05',
      'periodName': 'May',
      'value': '13670454',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2018',
      'period': 'M04',
      'periodName': 'April',
      'value': '13688513',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2018',
      'period': 'M03',
      'periodName': 'March',
      'value': '13684912',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2018',
      'period': 'M02',
      'periodName': 'February',
      'value': '13698581',
      'footnotes': [{'code': 'R',
        'text': 'Data were subject to revision on March 1, 2023.'}]},
     {'year': '2018',
      'period': 'M01',
      'periodName': 'January',
      'value': '13551579',
      'footnotes': [{'code': 'R',

In [61]:
# Used this to test JSON traversal
# There were 885,000 non-farm job openings in Texas in Dec 2022
json_data["Results"]["series"][0]["data"][0]["value"]
len(json_data["Results"]["series"][0]["data"])

60

In [62]:
# Used this to test JSON traversal
# Get the year
json_data["Results"]["series"][0]["data"][0]["year"]

'2022'

In [64]:
# Used this to test JSON traversal
# There December 2022, there were 14M people in the labor force
json_data["Results"]["series"][1]["data"][0]["value"]
json_data["Results"]["series"][1]["data"]

[{'year': '2022',
  'period': 'M12',
  'periodName': 'December',
  'value': '14773939',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2022',
  'period': 'M11',
  'periodName': 'November',
  'value': '14765864',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2022',
  'period': 'M10',
  'periodName': 'October',
  'value': '14731841',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2022',
  'period': 'M09',
  'periodName': 'September',
  'value': '14685013',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2022',
  'period': 'M08',
  'periodName': 'August',
  'value': '14674216',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2022',
  'period': 'M07',
  'periodName': 'July',
  'value': '14678367',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2022',
  'period': 'M06',
  'periodName': 'June',
  'value': '14673500',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2022',
  'period': 'M05',
  'periodName': 'May',
  'value': '14616414',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2022',
  'period': 'M04',
  'periodName': 'April',
  'value': '14592934',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2022',
  'period': 'M03',
  'periodName': 'March',
  'value': '14633464',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2022',
  'period': 'M02',
  'periodName': 'February',
  'value': '14613813',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2022',
  'period': 'M01',
  'periodName': 'January',
  'value': '14511328',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2021',
  'period': 'M12',
  'periodName': 'December',
  'value': '14488125',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2021',
  'period': 'M11',
  'periodName': 'November',
  'value': '14517223',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2021',
  'period': 'M10',
  'periodName': 'October',
  'value': '14428177',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2021',
  'period': 'M09',
  'periodName': 'September',
  'value': '14359112',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2021',
  'period': 'M08',
  'periodName': 'August',
  'value': '14331255',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2021',
  'period': 'M07',
  'periodName': 'July',
  'value': '14361689',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2021',
  'period': 'M06',
  'periodName': 'June',
  'value': '14317810',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2021',
  'period': 'M05',
  'periodName': 'May',
  'value': '14207615',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2021',
  'period': 'M04',
  'periodName': 'April',
  'value': '14219519',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2021',
  'period': 'M03',
  'periodName': 'March',
  'value': '14216389',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2021',
  'period': 'M02',
  'periodName': 'February',
  'value': '14177756',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2021',
  'period': 'M01',
  'periodName': 'January',
  'value': '14107667',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2020',
  'period': 'M12',
  'periodName': 'December',
  'value': '14162338',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2020',
  'period': 'M11',
  'periodName': 'November',
  'value': '14170810',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2020',
  'period': 'M10',
  'periodName': 'October',
  'value': '14130935',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2020',
  'period': 'M09',
  'periodName': 'September',
  'value': '14045206',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2020',
  'period': 'M08',
  'periodName': 'August',
  'value': '14002100',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2020',
  'period': 'M07',
  'periodName': 'July',
  'value': '13951512',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2020',
  'period': 'M06',
  'periodName': 'June',
  'value': '13891833',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2020',
  'period': 'M05',
  'periodName': 'May',
  'value': '13678032',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2020',
  'period': 'M04',
  'periodName': 'April',
  'value': '13310059',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2020',
  'period': 'M03',
  'periodName': 'March',
  'value': '13904739',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2020',
  'period': 'M02',
  'periodName': 'February',
  'value': '14159753',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2020',
  'period': 'M01',
  'periodName': 'January',
  'value': '14056658',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2019',
  'period': 'M12',
  'periodName': 'December',
  'value': '14059524',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2019',
  'period': 'M11',
  'periodName': 'November',
  'value': '14088019',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2019',
  'period': 'M10',
  'periodName': 'October',
  'value': '14038822',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2019',
  'period': 'M09',
  'periodName': 'September',
  'value': '13980363',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2019',
  'period': 'M08',
  'periodName': 'August',
  'value': '13931556',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2019',
  'period': 'M07',
  'periodName': 'July',
  'value': '13965128',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2019',
  'period': 'M06',
  'periodName': 'June',
  'value': '13919461',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2019',
  'period': 'M05',
  'periodName': 'May',
  'value': '13795993',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2019',
  'period': 'M04',
  'periodName': 'April',
  'value': '13789246',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2019',
  'period': 'M03',
  'periodName': 'March',
  'value': '13835343',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2019',
  'period': 'M02',
  'periodName': 'February',
  'value': '13870130',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2019',
  'period': 'M01',
  'periodName': 'January',
  'value': '13787780',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2018',
  'period': 'M12',
  'periodName': 'December',
  'value': '13809499',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2018',
  'period': 'M11',
  'periodName': 'November',
  'value': '13807669',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2018',
  'period': 'M10',
  'periodName': 'October',
  'value': '13757492',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2018',
  'period': 'M09',
  'periodName': 'September',
  'value': '13695181',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2018',
  'period': 'M08',
  'periodName': 'August',
  'value': '13668644',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2018',
  'period': 'M07',
  'periodName': 'July',
  'value': '13774390',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2018',
  'period': 'M06',
  'periodName': 'June',
  'value': '13762598',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2018',
  'period': 'M05',
  'periodName': 'May',
  'value': '13670454',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2018',
  'period': 'M04',
  'periodName': 'April',
  'value': '13688513',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2018',
  'period': 'M03',
  'periodName': 'March',
  'value': '13684912',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2018',
  'period': 'M02',
  'periodName': 'February',
  'value': '13698581',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]},
 {'year': '2018',
  'period': 'M01',
  'periodName': 'January',
  'value': '13551579',
  'footnotes': [{'code': 'R',
    'text': 'Data were subject to revision on March 1, 2023.'}]}]

In [65]:
# Store the year, period, and periodName, and # of job openings in columns of the dataframe
year = []
period = []
periodName = []
value = []
num_series = len(json_data["Results"]["series"][0]["data"])
series_data = json_data["Results"]["series"][0]["data"]

for i in range(num_series):
    year.append(series_data[i]["year"])
    period.append(series_data[i]["period"])
    periodName.append(series_data[i]["periodName"])
    value.append(series_data[i]["value"])

# Create a dataframe from these columns
job_openings = pd.DataFrame({"Year": year,
                            "Period": period,
                            "Month": periodName,
                            "# of job openings (thousands)": value})

# Since the last column contains string values, we convert them to integers
job_openings["# of job openings (thousands)"] = job_openings["# of job openings (thousands)"].astype(int)

# Show # of job openings in the actual thousand values
job_openings["# of job openings"] = job_openings["# of job openings (thousands)"]*1000

# Drop the duplicate column
job_openings = job_openings.drop(columns=["# of job openings (thousands)"])

# Print the dataframe
# job_openings

In [66]:
# Store the year, period, and periodName, and labor force # in columns of the dataframe
year1 = []
period1 = []
periodName1 = []
value1 = []
num_series1 = len(json_data["Results"]["series"][1]["data"])
series_data1 = json_data["Results"]["series"][1]["data"]

for i in range(num_series1):
    year1.append(series_data1[i]["year"])
    period1.append(series_data1[i]["period"])
    periodName1.append(series_data1[i]["periodName"])
    value1.append(series_data1[i]["value"])

# Create a dataframe from these columns
labor_force = pd.DataFrame({"Year": year1,
                            "Period": period1,
                            "Month": periodName1,
                            "Labor Force": value1})

# Print the dataframe
# labor_force

In [67]:
# Store the year, period, and periodName, and the employment # in columns of the dataframe
year2 = []
period2 = []
periodName2 = []
value2 = []
num_series2 = len(json_data["Results"]["series"][2]["data"])
series_data2 = json_data["Results"]["series"][2]["data"]

for i in range(num_series2):
    year2.append(series_data2[i]["year"])
    period2.append(series_data2[i]["period"])
    periodName2.append(series_data2[i]["periodName"])
    value2.append(series_data2[i]["value"])

# Create a dataframe from these columns
employment_number = pd.DataFrame({"Year": year2,
                            "Period": period2,
                            "Month": periodName2,
                            "Employment Number": value2})

# Print the dataframe
# employment_number

In [70]:
# Store the year, period, and periodName, and the unemployment rate in columns of the dataframe
year3 = []
period3 = []
periodName3 = []
value3 = []
num_series3 = len(json_data["Results"]["series"][3]["data"])
series_data3 = json_data["Results"]["series"][3]["data"]

for i in range(num_series3):
    year3.append(series_data3[i]["year"])
    period3.append(series_data3[i]["period"])
    periodName3.append(series_data3[i]["periodName"])
    value3.append(series_data3[i]["value"])

# Create a dataframe from these columns
unemployment_rate = pd.DataFrame({"Year": year3,
                            "Period": period3,
                            "Month": periodName3,
                            "Unemployment Rate": value3})

# Print the dataframe
# unemployment_rate

In [71]:
# Store the year, period, and periodName, and the unemployment # in columns of the dataframe
year4 = []
period4 = []
periodName4 = []
value4 = []
num_series4 = len(json_data["Results"]["series"][4]["data"])
series_data4 = json_data["Results"]["series"][4]["data"]

for i in range(num_series4):
    year4.append(series_data4[i]["year"])
    period4.append(series_data4[i]["period"])
    periodName4.append(series_data4[i]["periodName"])
    value4.append(series_data4[i]["value"])

# Create a dataframe from these columns
unemployment_number = pd.DataFrame({"Year": year4,
                            "Period": period4,
                            "Month": periodName4,
                            "Unemployment Number": value4})


# Print the dataframe
# unemployment_number

In [75]:
# Merge dataframes together
merge_1 = pd.merge(job_openings, labor_force, how = "outer", on=["Year", "Period", "Month"])
merge_2 = pd.merge(merge_1, employment_number, how = "outer", on=["Year", "Period", "Month"])
merge_3 = pd.merge(merge_2, unemployment_rate, how = "outer", on=["Year", "Period", "Month"])
merge_4 = pd.merge(merge_3, unemployment_number, how = "outer", on=["Year", "Period", "Month"])
merge_4

,Year,Period,Month,# of job openings,Labor Force,Employment Number,Unemployment Rate,Unemployment Number
0,2022,M12,December,855000,14773939,14260768,3.5,513171
1,2022,M11,November,811000,14765864,14222585,3.7,543279
2,2022,M10,October,962000,14731841,14189171,3.7,542670
3,2022,M09,September,1028000,14685013,14142120,3.7,542893
4,2022,M08,August,971000,14674216,14094855,3.9,579361
5,2022,M07,July,1115000,14678367,14088346,4.0,590021
6,2022,M06,June,1038000,14673500,14058566,4.2,614934
7,2022,M05,May,967000,14616414,14085102,3.6,531312
8,2022,M04,April,1104000,14592934,14076764,3.5,516170
9,2022,M03,March,999000,14633464,14080750,3.8,552714
10,2022,M02,February,879000,14613813,13979120,4.3,634693
11,2022,M01,January,896000,14511328,13835851,4.7,675477
12,2021,M12,December,818000,14488125,13894391,4.1,593734
13,2021,M11,November,868000,14517223,13874660,4.4,642563
14,2021,M10,October,965000,14428177,13746884,4.7,681293
15,2021,M09,September,867000,14359112,13638387,5.0,720725
16,2021,M08,August,970000,14331255,13548315,5.5,782940
17,2021,M07,July,1000000,14361689,13525809,5.8,835880
18,2021,M06,June,896000,14317810,13403377,6.4,914433
19,2021,M05,May,814000,14207615,13403781,5.7,803834
20,2021,M04,April,845000,14219519,13379963,5.9,839556
21,2021,M03,March,718000,14216389,13303447,6.4,912942
22,2021,M02,February,609000,14177756,13208208,6.8,969548
23,2021,M01,January,563000,14107667,13116825,7.0,990842
24,2020,M12,December,466000,14162338,13209905,6.7,952433
25,2020,M11,November,515000,14170810,13209632,6.8,961178
26,2020,M10,October,597000,14130935,13183656,6.7,947279
27,2020,M09,September,612000,14045206,12958336,7.7,1086870
28,2020,M08,August,523000,14002100,12893969,7.9,1108131
29,2020,M07,July,493000,13951512,12596299,9.7,1355213
30,2020,M06,June,438000,13891833,12441929,10.4,1449904
31,2020,M05,May,381000,13678032,12066906,11.8,1611126
32,2020,M04,April,348000,13310059,11673643,12.3,1636416
33,2020,M03,March,404000,13904739,13160716,5.4,744023
34,2020,M02,February,521000,14159753,13670268,3.5,489485
35,2020,M01,January,519000,14056658,13540371,3.7,516287
36,2019,M12,December,429000,14059524,13603779,3.2,455745
37,2019,M11,November,510000,14088019,13617084,3.3,470935
38,2019,M10,October,562000,14038822,13570526,3.3,468296
39,2019,M09,September,563000,13980363,13498640,3.4,481723
40,2019,M08,August,619000,13931556,13414424,3.7,517132
41,2019,M07,July,639000,13965128,13424964,3.9,540164
42,2019,M06,June,566000,13919461,13389610,3.8,529851
43,2019,M05,May,584000,13795993,13362851,3.1,433142
44,2019,M04,April,665000,13789246,13367230,3.1,422016
45,2019,M03,March,583000,13835343,13349402,3.5,485941
46,2019,M02,February,581000,13870130,13341750,3.8,528380
47,2019,M01,January,604000,13787780,13208613,4.2,579167
48,2018,M12,December,541000,13809499,13303919,3.7,505580
49,2018,M11,November,583000,13807669,13317133,3.6,490536
50,2018,M10,October,599000,13757492,13268075,3.6,489417
51,2018,M09,September,563000,13695181,13176122,3.8,519059
52,2018,M08,August,540000,13668644,13123887,4.0,544757
53,2018,M07,July,649000,13774390,13206640,4.1,567750
54,2018,M06,June,568000,13762598,13174145,4.3,588453
55,2018,M05,May,488000,13670454,13173790,3.6,496664
56,2018,M04,April,520000,13688513,13180560,3.7,507953
57,2018,M03,March,484000,13684912,13132056,4.0,552856
58,2018,M02,February,470000,13698581,13119974,4.2,578607
59,2018,M01,January,482000,13551579,12969210,4.3,582369